@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');
@import '_variables.scss';
@import '_mixins.scss';

/*Icons made by Freepik from www.flaticon.com*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('mountains.jpg') no-repeat center center fixed;
    background-size: cover; 
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display';
}

p {
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
}

.page-wrapper {
    padding: 60px 20px 0px 20px;
    color: white;
    a {
        text-decoration: none;
    color: $turquoise;
    font-weight: 700;
    font-style: italic;}
    position: relative;
    z-index: 1;
}
.intro {
    margin-bottom: 60px;
    header {
        margin-bottom: 30px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.explanation {
    @include rotatedText(80px);
}

.benefits {
    @include rotatedText(-38px);
}


.requirements {
    p {
        margin: 10px;
    }
}

.select {
    margin-top: 10px;
}

.navigation ul {
    list-style: none;
}

.next::before {
    background: url('leaf.png');
}

@media screen and (min-width:650px){


}