@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');
@import '_variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('light-green-mountains-optimized.jpg') no-repeat center center fixed;
    background-size: cover; 
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display';
}

p {
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
}

.page-wrapper {
    padding: 60px 20px 0px 20px;
    color: white;
    a {
        text-decoration: none;
    color: $steelTeal;
    font-weight: 700;
    font-style: italic;}
    position: relative;
    z-index: 1;
}
.intro {
    margin-bottom: 60px;
    header {
        margin-bottom: 30px;
    }
}

.extra1 {
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-attachment: fixed;
}