@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap");
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Icons made by Freepik from www.flaticon.com*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("mountains.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display";
}

p {
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}

.page-wrapper {
  padding: 60px 20px 0px 20px;
  color: white;
  position: relative;
  z-index: 1;
}
.page-wrapper a {
  text-decoration: none;
  color: #64be9d;
  font-weight: 700;
  font-style: italic;
}

.intro {
  margin-bottom: 60px;
}
.intro header {
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.explanation {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
  position: relative;
}
.explanation h3 {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 200px;
  margin-left: 12px;
  position: absolute;
  top: 80px;
  left: -100px;
}
.explanation p {
  grid-column: 2/3;
}

.benefits {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 30px;
  margin-bottom: 20px;
  position: relative;
}
.benefits h3 {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 200px;
  margin-left: 12px;
  position: absolute;
  top: -38px;
  left: -100px;
}
.benefits p {
  grid-column: 2/3;
}

.participation p,
.requirements p {
  margin: 10px 10px 10px 0;
}

.select {
  margin-top: 10px;
}

.navigation ul {
  list-style: none;
}

ul {
  list-style: none;
}

.next a::before,
.viewall a::before {
  content: url("leaf-24px.png");
}

.next a,
.viewall a {
  margin-top: -15px;
}

.next {
  height: 28px;
}

nav[role=navigation] ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
}

nav[role=navigation] ul li {
  display: grid;
  grid-template-columns: auto 1fr;
}

.design-selection nav[role=navigation] ul li::before {
  content: url("trunk.png");
  background-size: contain;
  grid-row: 1/4;
  margin-right: 15px;
  animation: rotate 3s linear infinite;
}

nav[role=navigation] ul li a,
.zen-resources ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.view-css a::before,
.css-resources a::before,
.zen-faq a::before,
.zen-submit a::before,
.zen-translations a::before {
  content: url("sprouting-leaf-24px.png");
}

.zen-resources ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

@media screen and (min-width: 650px) {
  body {
    background: url("layer3.png") no-repeat center 250px fixed;
    background-size: 100%;
  }

  .intro {
    padding: 30px 30px 0 30px;
  }

  .intro header {
    display: none;
  }

  .page-wrapper {
    color: black;
    padding: 0;
    margin-top: 607px;
    background-color: white;
    font-size: 1.25em;
  }
  .page-wrapper a {
    font-size: 1.15em;
    color: #748C78;
  }

  .main,
aside {
    padding: 90px;
  }

  .extra1 {
    background: url("heading.png") no-repeat center bottom;
    background-size: auto;
    width: 100%;
    height: 170px;
    position: absolute;
    top: 0;
  }

  .extra2 {
    background: url("layer1.png") no-repeat center bottom;
    background-size: 100% 90%;
    background-size: contain;
    width: 100%;
    height: 607px;
    position: absolute;
    top: 0;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(1fr, 5);
    grid-template-rows: repeat(700px, 12);
    grid-gap: 0px;
  }

  .explanation {
    grid-row: 1/3;
    grid-column: 1/3;
    margin-left: 50px;
    z-index: -1;
  }
  .explanation p {
    margin-right: 20px;
  }

  .participation {
    grid-row: 2/5;
    grid-column: 3/5;
    margin-left: -50px;
    margin-top: 100px;
  }

  .benefits {
    grid-row: 5/8;
    grid-column: 1/3;
    margin-left: 50px;
    margin-top: -50px;
  }

  .requirements {
    grid-row: 8/11;
    grid-column: 3/5;
    margin-top: -100px;
    margin-left: -50px;
    z-index: 1;
  }

  .explanation,
.benefits {
    max-width: 500px;
    background-color: #C7D9C9;
    padding: 30px;
  }
  .explanation h3,
.benefits h3 {
    max-width: 300px;
    margin-right: 15px;
    left: -115px;
    top: 85px;
    background-color: #4D594F;
    color: white;
    padding: 15px;
  }
  .explanation p,
.benefits p {
    padding: 30px;
  }

  .benefits h3 {
    text-align: right;
  }

  .participation,
.requirements {
    max-width: 800px;
    background-color: #748C78;
    color: white;
    padding: 30px;
  }
  .participation a,
.requirements a {
    color: #c9face;
  }
  .participation h3,
.requirements h3 {
    max-width: 400px;
    margin-right: 15px;
    margin-left: -60px;
    background-color: #92A693;
    color: black;
    padding: 15px;
  }
  .participation p,
.requirements p {
    padding: 10px;
  }

  footer {
    grid-row: 9;
    border-style: double;
    border-color: #4D594F;
    border-width: 4px;
    border-radius: 25px;
    padding: 30px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
  }

  .design-selection {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .design-archives,
.zen-resources {
    grid-column: 3/4;
  }
}
@media screen and (min-width: 950px) {
  .extra2 {
    height: 767px;
    top: 0;
  }

  .page-wrapper {
    margin-top: 747px;
  }
}
@media screen and (min-width: 1400px) {
  .extra2 {
    height: 1020px;
    top: 0;
  }

  .page-wrapper {
    margin-top: 1000px;
  }
}
@media screen and (min-width: 2000px) {
  .extra2 {
    height: 1350px;
    top: 0;
  }

  .page-wrapper {
    margin-top: 1330px;
  }
}

/*# sourceMappingURL=style.css.map */
